extends base  

block append head 
    

mixin reviewCard(review)
    .reviews__card
        .reviews__avatar
            img.reviews__avatar-img(src=`/img/users/${review.user.photo}`, alt=review.user.name)
            h6.reviews__user= review.user.name
        p.reviews__text= review.review
        .reviews__rating
            each star in [1,2,3,4,5]
                svg(class=`reviews__star reviews__star--${review.rating >=star?'active': 'inactive'}`)
                    use(xlink:href='/img/icons.svg#icon-star')
        .btn-container 
            i.fa-solid.fa-trash.bin(data--reviewId=`${review._id}`)              
            i.fa-solid.fa-circle-check.check(data--reviewId=`${review._id}`)              

block content 
    main.main
        .card-container
            each review in reviewsArr
                +reviewCard(review)